* {
    box-sizing: border-box;
}
.section {
    padding: 10px;
}
.margin-5 {
    margin: 5px;
}
body {
    margin: 0px;
}
#clubImage {
    width: 100%;
    height: 150px;
    background-image: url("https://glamadelaide.com.au/wp-content/uploads/2020/09/s-spring-flowers.jpg");
    margin: 0px;
}

#clubImage h1 {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: inherit;
    height: inherit;
    vertical-align: middle;
    text-align: center;
    padding: 50px;
}
#clubMain {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#clubContent {
    flex: 25%;
    padding: 20px;
}

#clubNav {
    padding: 20px;
}

#clubNav li {
    list-style-type: none;
    padding: 10px;
    border-left: solid 3px rgba(0,0,0,0);
}
#clubNav li a{
    color: coral;
    text-decoration: none;
}
/* rgb (49,108,244) */
#clubNav li:hover{
    color: coral;
    border-left: solid 3px coral;
}
.tab {
    padding: 5px;
    padding-left: 10px;
    border-left: solid 3px rgba(0,0,0,0);
}
.tab:hover {
    border-left: solid 3px coral;
    background-image: linear-gradient(to right, rgb(251, 252, 253), rgba(0,0,0,0));
}
.grey {
    color: gray;
}
.float-right {
    float:right;
}
.a-tab {
    text-decoration: none;
    color: black;
}
.a-tab:hover {
    background-color: darkgrey;
}
.link {
    text-decoration: none;
}
nav, footer {
    width: 100%;
    background-color: lightseagreen;
    padding: 20px;
    color: white;
}
nav {
    display: flex;
}
#pageTitle{
    text-decoration: none;
    color: white;
}
#navTabs {
    display: flex;
    padding: 10px 0px 10px 0px;
    margin-left: auto;
    margin-right: 0;
}

.nav-link a {
    text-decoration: none;
    color: white;
}
.nav-link > a {
    background-color: lightseagreen;
    padding: 15px;
    border-radius: 10px;
}
.nav-link > a:hover {
    background-color: coral;
}

#footerCopyright {
    margin: 10px;
    text-align: center;
    font-size: small;
}

.clubTab {
    border: solid 1px rgb(224, 224, 224);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.clubTab:hover {
    background-color: rgb(244, 244, 244);
}
main {
    padding-bottom: 25rem;
}
#app {
    position: relative;
    min-height: 100vh;
}
footer {
    position: absolute;
    bottom: 0;
    height: 20rem;
    margin-top: 20px;
}
.footerRow {
    display: flex;
}
.footerCol {
    padding-bottom: 15px;
    flex: 33%;
    padding: 10px;
}
.social-media {
    margin: 10px;
    color: white;
}
.btn-primary {
    background-color: lightseagreen;
    border-color: rgba(0,0,0,0);
}
.btn-primary:hover {
    background-color: coral;
    border-color: rgba(0,0,0,0);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding-top: 20px;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
}

.dropdown-content a {
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    color: coral;
}

.dropdown-content a:hover {
    background-color: lightsalmon;
    color: white;
}

.dropdown:hover .dropdown-content {display: block;}



@media screen and (max-width: 600px) {
    #clubMain {
        flex-direction: column;
        padding: 10px;
    }
    nav {
        flex-direction: column;
    }
    #navTabs{
        margin-left: 0;
        margin-right: auto;
    }
    .footerRow {
        flex-direction: column;
    }
}

.club-about {
    overflow: hidden;
    height: 3rem;
}

[v-cloak] {
    display: none;
}
