<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/icon.ico">
    <title>Club ABC | Members</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9bae8a3a02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/js/app.js" type="module" defer></script>
    <script src="/js/instances/club/members.js" type="module" defer></script>

</head>

<body>
    <div id="app" v-cloak>
        <page-nav v-bind:isuser="isLoggedIn" v-bind:isadmin="isAdmin"></page-nav>
        <main v-pre v-cloak>
            <div id="clubImage">
                <h1>{{ club.name }}</h1>
            </div>
            <div id="clubMain">
                <club-nav v-bind:id="clubId" v-bind:member="isMember"></club-nav>

                <div id="clubContent">
                    <div id="memberForm" class="section" v-if="isManager">
                        <h5>Add member</h5>
                        <button type="button" class="btn btn-primary float-right" v-on:click="addMember()">Add</button>
                        <input type="email" name="member" id="memberEmail" placeholder="Email" class="form-control" style="width: 70%;">
                    </div><br>

                    <div id="clubManager" class="section">
                        <!-- <button class="btn btn-primary float-right">Add Manager</button> -->
                        <h2>Managers</h2><hr>
                        <div class="tab clubMember" v-for="member in members" v-if="member.is_manager" style="border-bottom: solid 1px aliceblue">
                            <button type="button" class="btn btn-secondary btn-sm float-right"
                            v-on:click="promoteMember(member.user_id, 'demote')" v-if="isManager">Remove manager</button>
                            <p>{{ member.user.first_name }} {{ member.user.last_name }} <{{ member.user.email }}></p>
                        </div>
                    </div>
                    <div id="clubMember" class="section">
                        <!-- <button class="btn btn-primary float-right">Add Member</button> -->
                        <h2>Members ({{ members.length }})</h2>
                        <hr>
                        <div class="tab clubMember" v-for="member in members" v-bind:value="member.user_id" style="border-bottom: solid 1px aliceblue">
                            <div v-if="isManager">
                                <button class="btn btn-danger btn-sm float-right" v-on:click="deleteMember(member.user_id)">Remove from club</button>
                                <button class="btn btn-success btn-sm float-right"
                                style="margin-right: 10px;" v-if="!member.is_manager"
                                v-on:click="promoteMember(member.user_id, 'promote')">Promote</button>
                            </div>
                            <p>{{ member.user.first_name }} {{ member.user.last_name }} <{{ member.user.email }}></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <page-footer></page-footer>
    </div>
</body>

</html>